.rounded-img {
  border-radius: 50%;
  width: 30%;
}

.image-product {
  border-radius: 50%;
  width: 35%;
}

.success-link {
  color: #fff;
  background-color: #3baf6f;
  border-radius: 5px;
}

.alert-msg {
  text-align: center !important;
  margin-bottom: 10px !important;
  font-size: 18px !important;
}
